<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Internet: Supabase en kaarttegels -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Locatie delen, ook op de achtergrond via een foreground service -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- "Altijd toestaan": delen blijft lopen als de app dicht of op de achtergrond is -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- Android 13+: de vaste melding "Je locatie wordt gedeeld" tonen -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Batterij-optimalisatie uitzetten zodat delen op de achtergrond blijft werken -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- Zonebewaking (native_geofence): zones opnieuw aanmelden na herstart -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:label="CircleBeacon"
        android:allowBackup="false"
        android:name="${applicationName}"
        android:icon="@mipmap/thuisradar_launcher"
        android:enableOnBackInvokedCallback="true">
        <!-- singleTask: altijd één exemplaar. Een tik op het icoon of een melding
             (locatie delen, push) brengt de open app terug i.p.v. een nieuwe te
             starten; met singleTop + lege taskAffinity startte de app opnieuw. -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- Google Maps (vlag USE_GOOGLE_MAPS): sleutel komt uit android/local.properties -->
        <meta-data android:name="com.google.android.geo.API_KEY"
                   android:value="${MAPS_API_KEY}"/>
        <!-- Zonebewaking (native_geofence): Android wekt de app bij aankomst/vertrek -->
        <receiver android:name="com.chunkytofustudios.native_geofence.receivers.NativeGeofenceBroadcastReceiver"
                  android:exported="true"/>
        <receiver android:name="com.chunkytofustudios.native_geofence.receivers.NativeGeofenceRebootBroadcastReceiver"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.chunkytofustudios.native_geofence.NativeGeofenceForegroundService"
                 android:permission="android.permission.BIND_JOB_SERVICE"
                 android:exported="true"/>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
